#effect-field {
    z-index: 1;
    transition: all 0.4s;
}

#effect-field:after {
    transition: all 0.4s;
    background: red;
}

#effect-field:hover {
    color: #333;
}

#effect-field:hover:after {
    width: 100%;
    z-index: -1;
}