* {
    box-sizing:border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin-top : 2%;
    margin-bottom : 2%;
    margin-left : 5%;
    margin-right : 5%;
}

.top {
    display: block;
    text-align: center;
}

.top .title img {
    display: inline-block;
    width: 30px;
    height: 30px;

    margin-left: 5px;
    margin-right: 5px;
}

.top .title header {
    display: inline-block;
    font-size: 40px;

    margin-left: 5px;
    margin-right: 5px;
}

.top .main-nav {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.top .main-nav .main-nav-item {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.middle {
    display: flex;
}

.middle .side-bar {
    display: inline-block;
    border-right: 2px solid black;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.middle .side-bar .nav-group {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.middle .side-bar .nav-group .group-name {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: bold;
}

.middle .side-bar .nav-group .nav-itme {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 18px;
}

.middle .main {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.bottom {
    border-top: 2px solid black;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 20px;
    font-weight: bold;
}